<p style="color: green"><%= notice %></p>
<div id="restaurants">
  <h1 class="mb-3">Meals</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Picture</th>
        <th scope="col">Name</th>
      </tr>
    </thead>
    <tbody>
      <% @meals.each do |meal| %>
        <tr id="<%= dom_id meal %>">
          <th scope="row"><%= meal.id %></th>
          <td class="td-image"> <img src="<%= meal.image_url %>"/></td>
          <td> <%= meal.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
