<%= form_with(model: meal, url: restaurant_meals_path) do |form| %>
  <% if meal.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(meal.errors.count, "error") %> prohibited this meal from being saved:</h2>
      <ul>
        <% meal.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="my-2>
    <%= form.label :name, style: "display: block", class: 'form-label'  %>
    <%= form.text_field :name , class: "form-control"%>
  </div>
  <div>
    <%= form.label :price, style: "display: block", class: 'form-label'  %>
    <%= form.text_field :price , class: "form-control"%>
  </div>
  <div>
    <%= form.label :description, style: "display: block" , class: 'form-label' %>
    <%= form.text_area :description, class: "form-control" %>
  </div>
  <div>
    <%= form.label :photo, style: "display: block", class: 'form-label'  %>
    <%= form.text_area :photo, class: "form-control" %>
  </div>
  <div>
    <%= form.label :rating, style: "display: block", class: 'form-label'  %>
    <%= form.number_field :rating , class: "form-control"%>
  </div>
  <div>
    <%= form.label :user_ratings_total, style: "display: block", class: 'form-label'  %>
    <%= form.text_field :user_ratings_total, class: "form-control" %>
  </div>
  <div>
    <%= form.submit 'Update', class: "btn btn-primary mt-3" %>
  </div>
<% end %>
