<p style="color: green"><%= notice %></p>
<div class="row mt-5 mb-5">
  <div class="col-12">
    <h1> <%= @restaurant.name %>-- <%= @meal.name %></h1>
  </div>
</div>
<div class="row">
  <div class="col-6 inline-form">
    <%= link_to "Back to meals", restaurant_meals_path(@restaurant), class: "btn btn-outline-dark" %>
  </div>
  <div class="col-6 inline-form">
    <%= link_to "Edit this meal", edit_restaurant_meal_path(@restaurant,@meal), class: "btn btn-outline-primary" %>
    <%= button_to "Destroy this meals", restaurant_meal_path, method: :delete, class: "btn btn-outline-danger" %>
  </div>
</div>
<div id="restaurants" class="row mt-5">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Name</th>
        <td> <%= @meal.name %></td>
      </tr>
      <tr>
        <th>Price:</th>
        <td> <%= @meal.price %></td>
      </tr>
      <tr>
        <th>Description:</th>
        <td> <%= @meal.description %></td>
      </tr>
      <tr>
        <th>Photo:</th>
        <td> <img src="<%= @meal.photo %>"/></td>
      </tr>
      <tr class="table-secondary">
        <th>Rating</th>
        <td> <%= @meal.rating %></td>
      </tr>
      <tr class="table-secondary">
        <th>User ratings total</th>
        <td> <%= @meal.user_ratings_total %></td>
      </tr>
    </tbody>
  </table>
</div>
