<tr id="<%= dom_id restaurant %>">
  <th scope="row"><%= restaurant.id %></th>
  <td class="td-image"> <img src="<%= restaurant.image %>"/></td>
  <td> <%= restaurant.name %></td>
  <td><%= link_to "Show this restaurant", restaurant, class: "btn btn-warning" %></td>
  <td> <%= button_to "Destroy this restaurant", restaurant, method: :delete, class: "btn btn-outline-danger" %></td>
</tr>
