<tr id="<%= dom_id restaurant %>">
  <th scope="row"><%= restaurant.id %></th>
  <td> <%= restaurant.name %></td>
  <td><%= restaurant.description %></td>
  <td><%= link_to "Show this restaurant", restaurant %></td>
</tr>
