<h1>New restaurant</h1>
<%= form_with(model: @restaurant) do |form| %>
  <% if @restaurant.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(@restaurant.errors.count, "error") %> prohibited this restaurant from being saved:</h2>
      <ul>
        <% @restaurant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div>
    <%= form.label :url, style: "display: block" %>
    <%= form.text_field :url %>
  </div>
  <div>
    <%= form.submit %>
  </div>
<% end %>
<br>
<div>
  <%= link_to "Back to restaurants", restaurants_path %>
</div>
