<p style="color: green"><%= notice %></p>
<div class="row mt-5 mb-5">
  <div class="col-12">
    <h1><%= @restaurant.name %> </h1>
  </div>
</div>
<div class="row">
  <div class="col-6 inline-form">
    <%= link_to "Back to restaurants", restaurants_path, class: "btn btn-outline-dark" %>
  </div>
  <div class="col-6 inline-form">
    <%= link_to "Show meals", restaurant_meals_path(@restaurant), class: "btn btn-outline-info" %>
    <%= link_to "Edit this restaurant", edit_restaurant_path(@restaurant), class: "btn btn-outline-primary" %>
    <%= button_to "Destroy this restaurant", @restaurant, method: :delete, class: "btn btn-outline-danger" %>
  </div>
</div>
<div id="restaurants" class="row mt-5">
  <table class="table table-bordered">
    <tbody>
      <tr>
        <th>Name</th>
        <td> <%= @restaurant.name %></td>
      </tr>
      <tr>
        <th>Address:</th>
        <td> <%= @restaurant.address %></td>
      </tr>
      <tr>
        <th>Latitude</th>
        <td> <%= @restaurant.latitude %></td>
      </tr>
      <tr>
        <th>Longitude</th>
        <td> <%= @restaurant.longitude %></td>
      </tr>
      <tr>
        <th>Currency</th>
        <td> <%= @restaurant.currency_code %></td>
      </tr>
    </tbody>
  </table>
</div>
